
:root{
    --Translate: 460px;
}

.Header{
    position:fixed;    
    display: flex;
    width: 101%;
    margin: -1%;
    height: 100px;
    background-color: #212529;
    z-index: 1;    
}

.Logo{
    display: flex;
    color: white;  
    width: 20%;    
    margin: 1.5%;
}

.Logo h1{
    margin: 0% 2%;
}
svg{
    cursor: pointer;
    margin: 0% 2%;
    transition: all 200ms;
}

svg:hover{
    transform: scale(1.1, 1.1);
    fill: #3496db;
}

.Logo svg{
    background-color: #3496db;
    margin: 1% 1%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    fill: white;    
}

.Logo svg:hover{
    color: white;
}

.Busqueda{
    position: absolute;
    right: 0%;
    margin-top: 1%;
    margin-right: 3.5%;
    width: 20%;
    height: 40%;
    /* background-color: red;     */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    fill: white;        
}
.Animado{
    transition: all 800ms;
    opacity: 0;
}
.BarraBusqueda{
    width: 80%;
    height: 50%;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: auto;
    transition: all 800ms;
    transform: translate(var(--Translate));
}


ul{
    position: absolute;
    display: inline-flex;
    right: 0%;
    margin-right: 5%;
    margin-top: 3.5%;    
}

ul li{
    list-style-type:none;
    padding: 2%;
    /* background-color: red;     */
}

ul li a{
    text-decoration: none;
    color: white;
    transition: all 200ms;
}

ul li a:hover{
    color: #3496db;
}



/* Contenido */

.Contenedor{    
    position: relative;
    width: 100%;
    height: auto;    
}


.Contenido{
    position: absolute;
    margin-top: 7%;
    width: 100%; 
}


.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba{
    0%{
        transform:translateY(60px);
    }
    100%{
        transform:translateY(0);
    }
}
