::-webkit-scrollbar{
    display: none;
}

.ContenedorPrincipal2{
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;    
    margin-top: 1%;
    align-items: center;    
    background-image: linear-gradient(to right top, #3bafde, #00c5dd, #00d7c7, #5de6a3, #adee7a);    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Box{    
    width: 20%;
    height: 50%;
    margin: 0% 2%;
}

.BoxMidPrin {
    width: 60%;
    height: 95%;
    margin: auto;
    border-radius: 15px;    
    display: flex;
    flex-direction:column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 2;
}

.TextoPrin {
    font-size: 40px;    
    color: white;    
    font-family: 'Amatic SC', cursive;
    text-decoration:overline;
}

.CajasDeTexto, textarea{
    font-family: 'Amatic SC', cursive;
    width: 50%;
    background-color: transparent;    
    text-align: center;
    height: 45px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    font-size: 35px;        
    border: none;
    border-bottom: 2px solid white;
    outline: none;   
}

textarea{
    font-size: 22px;  
    padding: 2%;
    border: 2px solid white;
    text-align: left;      
    height: 240px;   
    resize: none; 
}

.container-input {
    text-align: center;
    background: #282828;
    border-top: 5px solid #c39f77;    
    border-radius: 6px;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
	font-size:22px; 
	font-weight:normal;	
    font-family: 'Amatic SC', cursive;    
}

.inputfile-2 + label {
    color: #c39f77;    
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #9f8465;
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: #282828;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #c39f77;
  width: 40%;
  margin: 1% 0%;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


.IMGMARIO{
    position: absolute;
    width: 100px;
    height: auto;
    z-index: 1;
    bottom: 0%;
    margin-top: -1%;
    margin-left: -12%;
}

.Animacion{
    animation: MarioCamina 25s ease infinite;        
}

@keyframes MarioCamina{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(1650px);
    }                
}
